:root{

/* COLORES*/
--green: #1c2915;
--greenVintage: #BCCEB8;
--olive: #839690;
--babyGreen: #ccd5c4;
--grey: #6A6260;
--light: #DADEE1;
--oldPink: #bd8271;
--babyPink: #EDCFC4;
--cream: #a38e77;
--babyCream: #ede3d9;


/**con opacidad*/
--babyCreamOp: #ede3d950;
--greenVintageOp: #8eaa88b4;
--oldPinkOp: #c08d7fe3;
--oliveOp: #699285ca;
--greyOp: #6a6260d0;
--creamOp: #c29f78be;
--babyPinkOp: #edcfc4d7;


/* TIPOGRAFIAS*/
--titleFamily: 'Playfair Display', serif;

/* /// TAMANO FUENTE /// */
/* Font Weight*/
--p-fw:300;
--title-fw:400;
--bold-fw:600;

/* Movil */
--h1-movil:63px;
--h2-movil:42px;
--h3-movil:23px;
--h4-movil:20px;
--h5-movil:15px;
--p-movil:14.5px;

/*Desktop */
--h1-desktop: 99px;
--h2-desktop:50px;
--h3-desktop:24px;
--h4-desktop:21px;
--h5-desktop:18px;
--p-desktop: 15px;





/*MARGIN / PADDING */


}
